# This file is managed by ansible

export JAVA_HOME={{ kafka_java_home }}
export LOG_DIR={{ kafka_logDir }}
export SCALA_BINARY_VERSION={{ kafka_scala_binaryVersion }}
export SCALA_VERSION={{ kafka_scala_version }}

export KAFKA_GC_LOG_OPTS="-Xloggc:$LOG_DIR/kafkaServer-gc.log -verbose:gc -XX:+PrintGCDetails -XX:+PrintGCDateStamps -XX:+PrintGCTimeStamps -XX:GCLogFileSize=50M -XX:+UseGCLogFileRotation -XX:NumberOfGCLogFiles=5"

export KAFKA_HEAP_OPTS="{{ kafka_java_heap }}"

export KAFKA_JVM_PERFORMANCE_OPTS="-server -XX:+UseG1GC -XX:MetaspaceSize=96m -XX:MaxGCPauseMillis=20 -XX:InitiatingHeapOccupancyPercent=35 -XX:G1HeapRegionSize=16M -XX:MinMetaspaceFreeRatio=50 -XX:MaxMetaspaceFreeRatio=80 -XX:+ExplicitGCInvokesConcurrent -Djava.awt.headless=true"


{% if kafka_security_enable and  kafka_security_kerberos_enable %}
export KAFKA_OPTS='-Djava.security.auth.login.config=/opt/kafka/config/kafka_server_jaas.conf'
export JVM_OPTS="-Djava.security.auth.login.config=/opt/kafka/config/kafka_server_jaas.conf,-Djava.security.krb5.conf=/etc/krb5.conf"
{% endif %}
