# This configuration file is managed by Ansible

# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial
# synchronization phase can take
initLimit=20
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=5
# The directory where the snapshot is stored
dataDir={{ zookeeper_dataDir }}/data
# The port at which the clients will connect
clientPort={{ zookeeper_port }}
# The number of snapshots to retain in dataDir
autopurge.snapRetainCount=3
#autopurge interval - 24 hours
autopurge.purgeInterval=24
# The Zookeeper servers in the replicated setup
{% for server in groups["zk_servers"] %}
server.{{ loop.index }}={{ server }}:2888:3888
{% endfor %}

{% if kafka_security_kerberos_enable %}
# The Kerberos configuration for Zookeeper
authProvider.1=org.apache.zookeeper.server.auth.SASLAuthenticationProvider
jaasLoginRenew=3600000
requireClientAuthScheme=sasl
{% endif %}